# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv).

In [ ]:
url = 'https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv'
baby_names_df = pd.read_csv(url)

print(baby_names_df.head())

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

### Step 3. Assign it to a variable called baby_names.

In [4]:
baby_names = pd.read_csv(url)

print(baby_names.head())

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

### Step 4. See the first 10 entries

In [ ]:
print(baby_names.head(10))

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [ ]:
baby_names = baby_names.drop(columns=['Unnamed: 0', 'Id'])

print(baby_names.head())

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Is there more male or female names in the dataset?

In [7]:
gender_counts = baby_names['Gender'].value_counts()

print(gender_counts)

Gender
F    558846
M    457549
Name: count, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [8]:
names = baby_names.groupby('Name')

print(names.size().head())

Name
Aaban        2
Aadan        4
Aadarsh      1
Aaden      196
Aadhav       1
dtype: int64

### Step 8. How many different names exist in the dataset?

In [9]:
num_unique_names = baby_names['Name'].nunique()

print(f"Số lượng tên khác nhau trong bộ dữ liệu là: {num_unique_names}")

Số lượng tên khác nhau trong bộ dữ liệu là: 17632

### Step 9. What is the name with most occurrences?

In [11]:
name_counts = baby_names.groupby('Name').size()

most_common_name = name_counts.idxmax()
most_common_name_count = name_counts.max()

print(f"Tên xuất hiện nhiều nhất là: {most_common_name} với {most_common_name_count} lần xuất hiện.")

Tên xuất hiện nhiều nhất là: Riley với 1112 lần xuất hiện.

### Step 10. How many different names have the least occurrences?

In [12]:
name_counts = baby_names.groupby('Name').size()
min_occurrences = name_counts.min()
names_with_min_occurrences = name_counts[name_counts == min_occurrences].count()

print(f"Số lượng tên có số lần xuất hiện ít nhất là: {names_with_min_occurrences}")

Số lượng tên có số lần xuất hiện ít nhất là: 3682

### Step 11. What is the median name occurrence?

In [14]:
name_counts = baby_names.groupby('Name').size()
median_occurrence = name_counts.median()

print(f"Tần suất xuất hiện của tên ở mức trung vị là: {median_occurrence}")

Tần suất xuất hiện của tên ở mức trung vị là: 8.0

### Step 12. What is the standard deviation of names?

In [16]:
name_counts = baby_names.groupby('Name').size()
std_deviation = name_counts.std()

print(f"Độ lệch chuẩn của số lần xuất hiện của các tên là: {std_deviation}")

Độ lệch chuẩn của số lần xuất hiện của các tên là: 122.02996350814125

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [18]:
name_counts = baby_names.groupby('Name').size()
summary_stats = name_counts.describe()

print(summary_stats)

count    17632.000000
mean        57.644907
std        122.029964
min          1.000000
25%          2.000000
50%          8.000000
75%         39.000000
max       1112.000000
dtype: float64