# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv).

In [2]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv"
df = pd.read_csv(url, sep=';')

print(df.head())

  school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0  GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mot...
1  GP,F,17,U,GT3,T,1,1,at_home,other,course,fathe...
2  GP,F,15,U,LE3,T,1,1,at_home,other,other,mother...
3  GP,F,15,U,GT3,T,4,2,health,services,home,mothe...
4  GP,F,16,U,GT3,T,3,3,other,other,home,father,1,...

### Step 3. Assign it to a variable called df.

In [4]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv"
df = pd.read_csv(url, sep=';')
print(df.head())

  school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0  GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mot...
1  GP,F,17,U,GT3,T,1,1,at_home,other,course,fathe...
2  GP,F,15,U,LE3,T,1,1,at_home,other,other,mother...
3  GP,F,15,U,GT3,T,4,2,health,services,home,mothe...
4  GP,F,16,U,GT3,T,3,3,other,other,home,father,1,...

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [6]:
df_slice = df.loc[:, 'school':'guardian']
print(df_slice.head())

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

### Step 5. Create a lambda function that will capitalize strings.

In [7]:
capitalize = lambda x: x.capitalize() if isinstance(x, str) else x

### Step 6. Capitalize both Mjob and Fjob

In [ ]:
df_full = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv')

print(df_full.columns)
for col in ['Mjob', 'Fjob']:
    df_full[col] = df_full[col].apply(lambda x: x.capitalize() if isinstance(x, str) else x)

print(df_full[['Mjob', 'Fjob']].head())

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')
      Mjob      Fjob
0  At_home   Teacher
1  At_home     Other
2  At_home     Other
3   Health  Services
4    Other     Other

### Step 7. Print the last elements of the data set.

In [ ]:
print(df_full.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[5 rows x 33 columns]

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [ ]:
df_full['Mjob'] = df_full['Mjob'].apply(lambda x: x.capitalize() if isinstance(x, str) else x)
df_full['Fjob'] = df_full['Fjob'].apply(lambda x: x.capitalize() if isinstance(x, str) else x)

print(df_full[['Mjob', 'Fjob']].head())

      Mjob      Fjob
0  At_home   Teacher
1  At_home     Other
2  At_home     Other
3   Health  Services
4    Other     Other

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [ ]:
def majority(age):
    return age > 17
df_full['legal_drinker'] = df_full['age'].apply(majority)

print(df_full[['age', 'legal_drinker']].head())

   age  legal_drinker
0   18           True
1   17          False
2   15          False
3   15          False
4   16          False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [ ]:
df_full[df_full.select_dtypes(include=['number']).columns] *= 10

print(df_full.head())

  school sex    age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F  18000       U     GT3       A  4000  4000  At_home   Teacher
1     GP   F  17000       U     GT3       T  1000  1000  At_home     Other
2     GP   F  15000       U     LE3       T  1000  1000  At_home     Other
3     GP   F  15000       U     GT3       T  4000  2000   Health  Services
4     GP   F  16000       U     GT3       T  3000  3000    Other     Other

   ... freetime goout  Dalc  Walc  health absences     G1     G2     G3  \
0  ...     3000  4000  1000  1000    3000     6000   5000   6000   6000
1  ...     3000  3000  1000  1000    3000     4000   5000   5000   6000
2  ...     3000  2000  2000  3000    3000    10000   7000   8000  10000
3  ...     2000  2000  1000  1000    5000     2000  15000  14000  15000
4  ...     3000  2000  1000  2000    5000     4000   6000  10000  10000

  legal_drinker
0          1000
1             0
2             0
3             0
4             0

[5 rows x 34 columns]